h1 {
  font-family: "游明朝";
  font-weight: 1000;
  font-style:italic;
}

#shelf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
}

.place {
  background-color: rgb(191, 230, 231);
  height: 300px;
  border: 1px solid #000;
}
